html {
	background: rgb(20, 20, 20) none repeat scroll 0% 0%;
	margin-top: 2em;
	min-width: 40em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

body {
	/* background: rgb(20, 20, 20) none repeat scroll 0% 0%; */
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	color: #eeeeee;
	line-height: 120%;
	text-align: justify;
}

h1 {
	font-size: 140%;
	color: #eeeeee;
	margin-top: 1.5em;
}

h2 {
	font-size: 120%;
	margin-left: 1em;
}

h3 {
	font-size: 110%;
	margin-left: 2em;
}

p { 
	margin-left: 3em;
	margin-right: 3em;
	color: #eeeeee;
}

p.head, p.footer {
	margin-left: 0.0em;
	margin-right: 0.0em;
}

p.head {
	font-size: 120%;
       	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #dddddd; 
}

p.author, p.refs {
	font-size: 90%;
	margin-left: 0em;
	margin-top: 0em;
}

span.head {
	float: right;
	font-size: 100%;
}

p.footer {
	font-size: 80%;
	color: #666666;
	margin-top: 1.5em;
	padding-top: 0.2em;
	border-top: 1px solid #dddddd;
}

p.right {
	float: right;
	margin-top: 0.0em;
}

a {
	text-decoration: none;
	color: #5294E2;
}

a:hover {
	color: #eeeeee;
}

pre { 
	margin-left: 5em;
}

ul {
	margin-left: 1em;
}

li {
	font-size: 16px;
	color: #eeeeee;
}

blockquote {
	background: #242424;
	padding: 0.5em;	
	margin-left: 6em;
	margin-right: 6em;
}

p.shell {
	display: block;
	white-space: pre-wrap;
	background: #242424;
	border: 1px solid #969696;
	margin-right: 6em;
}

table {
	margin-left: 3em;
	width: 50%;
}

table,
td {
	border: 1px solid #969696;
	background: #242424;
	vertical-align: top;
	white-space: nowrap
}

td {
	padding: 5px 5px;
}

td.center {
	text-align: center;
}

@media screen and (min-width: 1500px) {
	body {
		font-size: medium;
	}
}
